[Unit]
Description=initialization of a nested Kubernetes cluster
Requires=kubelet.service
After=kubelet.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/nkube.sh

[Install]
WantedBy=kubelet.service
